

.floating-image-izquierda{
  position: fixed;
  top: 50%;
  left:30%;
  width: 60%;
  z-index: 9998;
  pointer-events: none;
  transform: translate(-10%, -30%);
  opacity: 1;
  animation: izquierda 3.2s ease-in-out forwards;
  animation-delay: 0.1s;
}
.floating-image-derecha{
  position: fixed;
  top: 50%;
  left: 70%;
  width: 60%;
  z-index: 9998;
  pointer-events: none;
  transform: translate(-10%, -30%);
  opacity: 1;
  animation: derecha 3.2s ease-in-out forwards;
  animation-delay: 0.1s;
}
.floating-image{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  z-index: 9999;
  pointer-events: none;

  /* centro inicial */
  transform: translate(-50%, -50%);
  opacity: 1;

  /* animación */
  animation: dropOut 3.2s ease-in-out forwards;
  /*            ^duración */
  /* opcional: delay para que “se vea” antes de caer */
  animation-delay: 0.1s;
}
@keyframes derecha{
  0%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  30%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100%{
    transform: translate(120vh, 0vh); /* baja y sale */
    opacity: 0;
  }
}
@keyframes izquierda{
  0%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  30%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100%{
    transform: translate(-120vh, 0vh); /* baja y sale */
    opacity: 0;
  }
}
@keyframes dropOut{
  0%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  30%{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, 120vh); /* baja y sale */
    opacity: 0;
  }
}
